---
permalink: /.well-known/keybase.txt
eleventyExcludeFromCollections: true
---
==================================================================
https://keybase.io/game_ryo
--------------------------------------------------------------------

I hereby claim:

  * I am an admin of https://game-ryo.is-a.dev
  * I am game_ryo (https://keybase.io/game_ryo) on keybase.
  * I have a public key ASC8qDAUkBprlvzgT_f29EAZaboVxjLve186vLzPASKtVQo

To do so, I am signing this object:

{
  "body": {
    "key": {
      "eldest_kid": "0120bca83014901a6b96fce04ff7f6f4401969ba15c632ef7b5f3abcbccf0122ad550a",
      "host": "keybase.io",
      "kid": "0120bca83014901a6b96fce04ff7f6f4401969ba15c632ef7b5f3abcbccf0122ad550a",
      "uid": "04061c481b376652ee0b0ce7759cdb19",
      "username": "game_ryo"
    },
    "merkle_root": {
      "ctime": 1788765767,
      "hash": "ef601bb09c3c4b446b3d502e40642b7ca18612e8aedf67358a342f3cc214eac40ddbceeed600482d4baa007ee9263cc8666e5fbaa0a470d33bb04328bd509250",
      "hash_meta": "55609e9e7b4b98e32a01b79d04e224dbedae8d9618c929fe3847a6203f87570a",
      "seqno": 27761169
    },
    "service": {
      "entropy": "bClbxvWvUxkl7lnuC6+jwbE3",
      "hostname": "game-ryo.is-a.dev",
      "protocol": "https:"
    },
    "type": "web_service_binding",
    "version": 2
  },
  "client": {
    "name": "keybase.io go client",
    "version": "6.6.3"
  },
  "ctime": 1788765830,
  "expire_in": 504576000,
  "prev": "f462f173575252191e7529a4c69056e4736d7bf0c22857cb9da1cb849b818010",
  "seqno": 11,
  "tag": "signature"
}

which yields the signature:

hKRib2R5hqhkZXRhY2hlZMOpaGFzaF90eXBlCqNrZXnEIwEgvKgwFJAaa5b84E/39vRAGWm6FcYy73tfOry8zwEirVUKp3BheWxvYWTESpcCC8Qg9GLxc1dSUhkedSmkxpBW5HNte/DCKFfLnaHLhJuBgBDEIARnhqLBd42z8cC4/KlScuC1fOzh8Ulounmmk3TI5AnCAgHCo3NpZ8RA72MzIPxk6bePdcyZ/+jIC/jkOTguqaNig2xlEo3apOma4jzc3u1GFma29wipZ2fK6lR82PNjPU2zsiZDeWzmCKhzaWdfdHlwZSCkaGFzaIKkdHlwZQildmFsdWXEIJ4ZA+NR9Uh7Qi9cvfeyP8cp2yHVb3jNoEqGt1UnL5V+o3RhZ80CAqd2ZXJzaW9uAQ==

And finally, I am proving ownership of this host by posting or
appending to this document.

View my publicly-auditable identity here: https://keybase.io/game_ryo

==================================================================
