---
permalink: /.well-known/keybase.txt
eleventyExcludeFromCollections: true
---
==================================================================
https://keybase.io/game_ryo
--------------------------------------------------------------------

I hereby claim:

  * I am an admin of https://game-ryo.is-a.dev
  * I am game_ryo (https://keybase.io/game_ryo) on keybase.
  * I have a public key ASA8x65XDXMBtDXN9ziCjurl8vke45th3D49ED5TpSNgEQo

To do so, I am signing this object:

{
  "body": {
    "key": {
      "eldest_kid": "01203cc7ae570d7301b435cdf738828eeae5f2f91ee39b61dc3e3d103e53a52360110a",
      "host": "keybase.io",
      "kid": "01203cc7ae570d7301b435cdf738828eeae5f2f91ee39b61dc3e3d103e53a52360110a",
      "uid": "04061c481b376652ee0b0ce7759cdb19",
      "username": "game_ryo"
    },
    "merkle_root": {
      "ctime": 1784189449,
      "hash": "b689ba586a09751dcad4377c101752f55257ec92c52a14965e457e95129b3060fd7521eee4c723e85539ac84480d9a96cd310eb97af98a42fa1a4d002c3e72d0",
      "hash_meta": "906d9dd249cd7292173e7140e0f4741a9e4afac3430ad1c58b04b2c4d5693b50",
      "seqno": 27682874
    },
    "service": {
      "entropy": "2EOeLowfYKQTHh3m+gg8hWN8",
      "hostname": "game-ryo.is-a.dev",
      "protocol": "https:"
    },
    "type": "web_service_binding",
    "version": 2
  },
  "client": {
    "name": "keybase.io go client",
    "version": "6.6.3"
  },
  "ctime": 1784189491,
  "expire_in": 504576000,
  "prev": "7cb8019c5024cb841228a5a3a2cb55339b650900acc68ad8674a4c2ca54b8fdc",
  "seqno": 6,
  "tag": "signature"
}

which yields the signature:

hKRib2R5hqhkZXRhY2hlZMOpaGFzaF90eXBlCqNrZXnEIwEgPMeuVw1zAbQ1zfc4go7q5fL5HuObYdw+PRA+U6UjYBEKp3BheWxvYWTESpcCBsQgfLgBnFAky4QSKKWjostVM5tlCQCsxorYZ0pMLKVLj9zEIKUJCQi9O5SFHjLbb/QXY+S3U3+qtkzhgTzaUigOf6NwAgHCo3NpZ8RAGH+1bdbIWnZ5l4swWCukbt2ailQqHxpZs4+s0a9qYqTtHXuqCu2Rac8CQQIlCKxg3ATdyD96wfJMIRQBhfX6CKhzaWdfdHlwZSCkaGFzaIKkdHlwZQildmFsdWXEII8gfcWMUg8sH4aks2+gFOE+U3NO2zxtyRDNnBdjCaNEo3RhZ80CAqd2ZXJzaW9uAQ==

And finally, I am proving ownership of this host by posting or
appending to this document.

View my publicly-auditable identity here: https://keybase.io/game_ryo

==================================================================
